/* ......................................... PALETA DE COLORES ................................ */
/* 
Naranja			    #fc7800	
Rosa			    #fc5b6b
Naranja Claro		#ffbb42
Azul Claro		    #5bd3d3
Negro Envejecido	#191919

Naranja Bitter		#f16317
Marron Bitter		#440a08
Verde Oliva		    #b4c000
Verde  Claro		#12663e
Verde Oscuro		#045e2d
Gris Claro		    #e2dede */

/* Google Font:
Londrina Solid		https://fonts.google.com/specimen/Londrina+Solid
Mulish			    https://fonts.google.com/specimen/Mulish */

/* ........................................  RESET CSS  ....................................... */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-size: 66.66%;
list-style-type: none;
}

/* ........................................  HEADER  ............................................ */

header {
    border-top: 10px solid #045e2d;;
    border-bottom: 10px solid #045e2d;
    background-color:#191919;
    color:#ffffff;
}

header .logo img {
    width: 80px;
    height: 80px;
    padding-top:10px ;
}

header nav li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;

}

header nav a {
    font-size: 1.5rem;
    color:#fc051d ;
    text-decoration: none;
}

header nav a:hover {
    font-size: 1.2rem;
    color:#b4c000 ;
    text-transform: uppercase;
    text-decoration: none;
}

header h1 {
    text-shadow: 3px 3px 2px rgba(255,187,66,0.6);
    font-size: 2.5rem;
}

header h2 {
    font-size: 1.2rem;
}










/* .................................. MAIN ........................ */
main img{
    width: 50%;
    border-radius: 20px;
    text-align: center;
}

main {
    background-color: #f16317;
}

.main-leyenda {
    padding-top: 5px;
    width: 80vw;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: white;
}







/* ................................. FOOTER ...................... */
footer {
    background-color:#191919;
    border-top: 10px solid #045e2d;;
    border-bottom: 10px solid #045e2d;
}

footer .logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

footer .redes-sociales {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    column-gap: 15px;
    align-items: center;
}

footer .legal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
}

footer .legal a {
    text-decoration: none;
    color: #fc5b6b;
    font-size: 0.5rem;
    font-size: 1.2rem;
}

footer .legal a:hover {
    text-decoration: none;
    color: white

}

footer .logo img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

footer .redes-sociales img {
    height: 35px;
    width: 35px;
}

footer .redes-sociales img:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 2px 2px #ec731e;
}

footer h3{
    font-size: 1.1rem;
    color:#fc5b6b;
    padding: 5px;
    font-style: italic;
}

footer h4{
    font-size: 0.9rem;
    color:#fc5b6b;
    padding: 5px;
}

footer h5 {
    font-size: 1rem;
    font-style: italic;
}





















