/* ......................................... PALETA DE COLORES ................................ */
/* 
Naranja			    #fc7800	
Rosa			    #fc5b6b
Naranja Claro		#ffbb42
Azul Claro		    #5bd3d3
Negro Envejecido	#191919

Naranja Bitter		#f16317
Marron Bitter		#440a08
Verde Oliva		    #b4c000
Verde  Claro		#12663e
Verde Oscuro		#045e2d
Gris Claro		    #e2dede */

/* Google Font:
Londrina Solid		https://fonts.google.com/specimen/Londrina+Solid
Mulish			    https://fonts.google.com/specimen/Mulish */

/* ........................................  RESET CSS  ....................................... */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-size: 66.66%;
list-style-type: none;
}

/* ............................................ CSS NAV BAR ACTIVE .............................. */

nav #home, nav #nosostros, nav #contactos, nav #recetas, nav #recetas {
    color: hwb(86 21% 4%);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

/* ........................................  HEADER  ............................................ */

header {
    border-top: 10px solid #045e2d;;
    border-bottom: 10px solid #045e2d;
    background-color:#191919;
    color:#ffffff;

}

header .logo img {
    width: 80px;
    height: 80px;
    padding-top:10px ;
}

header nav li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;

}

header nav a {
    font-size: 1.5rem;
    color:#fc051d ;
    text-decoration: none;
}

header nav a:hover {
    font-size: 1.2rem;
    color:#b4c000 ;
    text-transform: uppercase;
    text-decoration: none;
}

header h1 {
    text-shadow: 3px 3px 2px rgba(255,187,66,0.6);
    font-size: 2.5rem;
}

header h2 {
    font-size: 1.2rem;
}

/* ............................................. MAIN General  ................................... */

main {
    background-color:  #f16317 ;
    padding-bottom: 50px;
}

main h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    color:white;
    font-size: 2.5rem;
}

main .contenido-carrusel h2 {
    color:white;
    text-align: center;
    font-size: 2rem;
}

main img{
    display: block;
    border-radius: 20px;
    text-align: center;
    width: 85%;
    height: 80%;
    margin: auto;
}

main .publicidad h2 {
    color:#045e2d;
    text-align: center;
    font-size: 2.0rem;
}


/* .............................................  MAIN INDEX ..................................... */

.main-index {
    display: grid;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 60px;
    row-gap: 30px;
    grid-template-columns: 7fr 3fr ;
    grid-template-rows: 100px 300px;
    grid-template-areas: 
    "texto       texto"
    "carrusel    publicidad";
}

.texto-main{
    grid-area: texto;
}

.carrusel-bootstrap {
    grid-area: carrusel;  
}

.publicidad {
    grid-area: publicidad;
}

main .propia-main{
    font-size: 2rem;
    background-color: #f16317;
    border: 2px solid white;
    
}

.texto-main {
    padding-top: 5px;
    color: #e2dede;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*................................................ MEDIA QUERY INDEX ........................ */

@media screen and (max-width:480px) {
    .main-index {
        display: grid;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
        row-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 300px 300px;
        grid-template-areas: 
        "texto"
        "carrusel"
        "publicidad";
    }

    main h1 {
        padding-top: 30px;
        padding-bottom: 30px;
        color:white;
        font-size: 2.0rem;
    }

    .publi-recetas{
        align-self: center;
    }

}
    
@media screen and (min-width: 481px) and (max-width: 950px) {
    .main-index {
            display: grid;
            padding-left: 20px;
            padding-right: 25px;
            padding-bottom: 25px;
            row-gap: 30px;
            grid-template-columns: 2fr 1fr ;
            grid-template-rows: 100px 350px;
            grid-template-areas: 
            "texto       texto"
            "carrusel    publicidad"
        }

        main h1 {
            padding-top: 25px;
            padding-bottom: 40px;
            color:white;
            font-size: 2.3rem;
        }

        main .publi-recetas img {
            align-self: center;
        }
}

/* ................................................ MAIN  RECETAS ........................... */

main .recetas button {
    background-color: #045e2d;
    color: white;
    font-size: 1.2rem;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 10px;
}



main .recetas {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    gap: 15px;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 100px 400px 400px 400px ;
    grid-template-areas: 
    "texto          texto        texto"
    "publi          receta-1     receta-2" 
    "publi          receta-3     receta-4" 
    "publi          receta-5     receta-6" ;
}

.texto-recetas{
    grid-area: texto;
}

.publi-recetas {
    grid-area: publi;
}

.receta-1 {
    grid-area: receta-1 ;
}

.receta-2 {
    grid-area: receta-2 ;
}

.receta-3 {
    grid-area: receta-3 ;
}

.receta-4 {
    grid-area: receta-4 ;
}

.receta-5 {
    grid-area: receta-5 ;
}

.receta-6 {
    grid-area: receta-6 ;
}

.receta-1 img, .receta-2 img, .receta-3 img, .receta-4 img, .receta-5 img, .receta-6 img {
    display: block;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    height: 60%;
    width: 100%;
    margin: auto;
}

main.publi-recetas img {
    display: block;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
}

main .recetas h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-size: 2.5rem;
    text-align: center;
}


@media screen and (max-width:480px) {
    main .recetas {
        display: grid;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 30px;
        gap: 25px;
        grid-template-columns: 1fr ;
        grid-template-rows: 100px 350px 350px 350px 800px 350px 350px 350px ;
        grid-template-areas: 
        "texto"
        "receta-1"
        "receta-2"
        "receta-3"
        "publi"
        "receta-4"
        "receta-5"
        "receta-6"
    }

    main .recetas h1 {
        padding-top: 20px;
        padding-bottom: 60px;
        color:white;
        font-size: 1.5rem;
    }

    
}

@media screen and (min-width: 481px) and (max-width: 950px) {
    main .recetas {
        display: grid;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        gap: 15px;
        grid-template-columns: 5fr 5fr ;
        grid-template-rows: 150px 500px 500px 500px 500px ;
        grid-template-areas: 
        "texto          texto"
        "publi          receta-1" 
        "publi          receta-2" 
        "receta-3       receta-4" 
        "receta-5       receta-6";
    }
    main .recetas h1 {
        padding-top: 25px;
        padding-bottom: 40px;
        color:white;
        font-size: 2.3rem;
    }
}







/* ................................. FOOTER ...................... */
footer {
    background-color:#191919;
    border-top: 10px solid #045e2d;;
    border-bottom: 10px solid #045e2d;
}

footer .logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

footer .redes-sociales {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    column-gap: 15px;
    align-items: center;
}

footer .legal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
}

footer .legal a {
    text-decoration: none;
    color: #fc5b6b;
    font-size: 0.5rem;
    font-size: 1.2rem;
}

footer .legal a:hover {
    text-decoration: none;
    color: white

}

footer .logo img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

footer .redes-sociales img {
    height: 35px;
    width: 35px;
}

footer .redes-sociales img:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 2px 2px #ec731e;
}

footer h3{
    font-size: 1.1rem;
    color:#fc5b6b;
    padding: 5px;
    font-style: italic;
}

footer h4{
    font-size: 0.9rem;
    color:#fc5b6b;
    padding: 5px;
}

footer h5 {
    font-size: 1rem;
    font-style: italic;
}





















