

/* ...............MEDIA QUERY .........................*/

/*MEDIA QUERY INDEX*/
/* Media Query Smartphones */
@media screen and (max-width: 500px) {
    .main-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 300px 450px;
        grid-template-areas: 
        "txt"
        "carrusel"
        "publi";

        h1 {
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 2.0rem;
        }

        .publicidad {
            display:block;
            img {
                width: 65%;
            }
        }
    }
}

/* Media Query Tablets */
@media screen and (min-width: 481px) and (max-width: 950px) {
    .main-index {
        display: grid;
        grid-template-columns: 3fr 1fr ;
        grid-template-rows: 100px 350px;
        grid-template-areas: 
        "txt       txt"
        "carrusel    publi";

        h1 {
            padding-top: 25px;
            padding-bottom: 40px;
            font-family: 'Londrina Solid', sans-serif;
            color:white;
            font-size: 2.3rem;
        }

        .publicidad {
            display:block;

            img {
                width: 100%;
            }
        }

        img {
            width: 90%;
        }
    }
}





/*MEDIA QUERY NOSOTROS*/
/* Media Query Smartphones */
@media screen and (max-width:480px) {
    .nosotros {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 120px 320px 320px 320px 320px;
        grid-template-areas: 
        "txt"
        "n-team" 
        "publi"
        "n-emprend"
        "frase";

        h1 {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 3.2rem;
        }

        div {
            text-align: center;
        }
    }
}

/* Media Query Tablets */
@media screen and (min-width: 481px) and (max-width: 950px) {
    .nosotros {
        display: grid;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        gap: 15px;
        grid-template-columns: 3fr 2fr ;
        grid-template-rows: 150px 280px 280px ;
        grid-template-areas: 
        "txt          txt"
        "n-team       publi" 
        "n-emprend    frase";

        h1 {
            padding-top: 30px;
            padding-bottom: 10px;
            font-family: 'Londrina Solid', sans-serif;
            color:#e2dede;
            font-size: 4.0rem;
            text-align: center;
        }

        div {
            .img {
                display: block;
                align-content: center;
                text-align: center;
                width: 100%;
            }
        }
    }
}




/*MEDIA QUERY RECETAS*/
/* Media Query Smartphones */
@media screen and (max-width:480px) {
    .recetas {
        display: grid;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 30px;
        gap: 5px;
        grid-template-columns: 1fr ;
        grid-template-rows: 100px 400px 400px 400px 800px 400px 400px 400px ;
        grid-template-areas: 
        "texto"
        "receta-1"
        "receta-2"
        "receta-3"
        "publi"
        "receta-4"
        "receta-5"
        "receta-6";

        h1 {
            padding: 10px;
            font-size: 2.0rem;
            padding-bottom: 10px;
            text-align: center;
        }

        h2 {
            text-align: center;
            margin-top: 0px;
            padding: 5px  0px 5px 35px;
            font-size: 1.5rem;
        }

        h3 {
            text-align:justify;
            padding: 10px 30px 5px 30px;
            font-size: 1.5rem;
        }

        .publi-recetas {
            img {
                display: block;
                margin-top: 30px;
                margin-bottom: 30px;
                border-radius: 5px;
                box-shadow: 1px 1px 3px 2px rgba(255,255,255,0.75);
                text-align: center; 
                align-content: center;
                width: 85%;
                height: 650px;
            }
        }
    }
}

/* Media Query Tablets */
@media screen and (min-width: 481px) and (max-width: 950px) {
    .recetas {
        display: grid;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        gap: 15px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 150px 500px 500px 500px 500px ;
        grid-template-areas: 
        "texto          texto"
        "publi          receta-1" 
        "publi          receta-2" 
        "receta-3       receta-4" 
        "receta-5       receta-6";
    }

    h1 {
        padding-top: 25px;
        padding-bottom: 15px;
        color:white;
        font-size: 2.3rem;
    }

    .publi-recetas {
        padding-top: 40px;
        img {
            display: block;
            border-radius: 5px;
            box-shadow: 1px 1px 3px 2px rgba(255,255,255,0.75);
            text-align: center; 
            align-content: center;
            width: 100%;
            height: 750px;
        }
    }
}



/*MEDIA QUERY CONTACTOS*/
/* Media Query Smartphones */
@media screen and (max-width:480px) {
    .contactos {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 300px 300px 300px;
        grid-template-areas: 
        "texto"
        "our-team"
        "mapa" 
        "redes" ;

        h1 {
            text-align: center;
            padding: 10px;
            font-size: 3.0rem;
        }

        section {
            div {
                h2 {
                    text-align: center;
                    padding-bottom: 15px;
                    font-size: 2.5rem;
                }
            }
        }

        .mapa {
            iframe {
                border-radius: 10px;
                box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.47);
                width: 80%;
                height: 250px;
            }
        }

        .redes-sociales {
            img {
                width: 85%;
            }
        }
    }
}

/* Media Query Tablets */
@media screen and (min-width: 481px) and (max-width: 950px) {
    .contactos {
        display: grid;
        gap: 10px;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 100px 280px 400px ;
        grid-template-areas: 
        "texto  texto"
        "our-team   mapa"
        "redes  redes" ;

        h1 {
            font-size: 2.8rem;
        }

        section {
            div {
                h2 {
                    font-size: 2.5rem;
                }
            }
        }
        
        .mapa {
            iframe {
                border-radius: 10px;
                box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.47);
                width: 80%;
                height: 220px;
            }
        }
    }
}




/*MEDIA QUERY VENTAS*/
/* Media Query Smartphones */

/* Media Query Tablets */

